#app {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas: "header" "nav" "main" "footer";

	> header,
	> footer {
		padding: 1em;
		color: #333;
	}
	
	> header {
		background-color: hsl(var(--hue), var(--sat), var(--lum));
		justify-content: space-between;
		grid-area: header;
		display: grid;

		svg {
			grid-column: 1;
			grid-row: 1;
		}

		h2 {
			grid-row: 2;
			font-size: 1em;
		}

		nav {
			grid-column: 2;
			grid-row: 1;
			font-size: smaller;

			ul {
				flex-direction: column;
				justify-content: space-between;
			}

			a {
				justify-content: end;
				gap: .5em;
				padding: .1em .5em;
				text-align: right;
				flex-direction: row-reverse;
			}

			a:hover img {
				filter: invert(100%);
			}

			img {
				width: 1.25em;
				height: 1.25em;
				object-fit: contain;
				object-position: center;
			}
		}
	}

	> footer {
		margin-top: 2em;
		grid-area: footer;
		padding: .5em 1em;
		text-align: center;
		// background-image: url('@/assets/img/heros_256.webp');
		background-repeat: repeat-x;
		background-position: center bottom;
		background-size: auto 100%;
		// min-height: 128px;
		color: #fff;
		// font-size: 140%;
		text-shadow: 0 2px  #000;
	}
}