html {
    font-size: 18px;
    height: 100%;
    font-family: var(--font-text);
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(var(--hue), 10%, 10%);
    color: hsl(var(--hue), var(--sat), 100%);
}

nav a {
    color: inherit;
    text-decoration: none;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
caption,
legend,
label {
    font-family: var(--font-heading);
    line-height: 1;
}