@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Red+Rose:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Signika:wght@400;700&display=swap');

:root {
	--font-text: 'Carlito', sans-serif;
	--font-heading: 'Signika', sans-serif;
	--hue: 60;
	--sat: 70%;
	--lum: 50%;
	--hue2: 15;
}